.mat-elevation-z8 {
  overflow: hidden !important;
  width: 80vw;
  border-radius: 10px;
}

.mat-column-position {
  width: 5%;
  text-align: center;
}

.mat-column-team {
  width: 450px;
}

.team-logo {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.team-cell {
  font-weight: 500;
  letter-spacing: 0.03rem;
}

.mat-column-wins, .mat-column-loses, .mat-column-winratio, .mat-column-home, .mat-column-away, .mat-column-last10 {
  text-align: center;
}

tr:hover {
  background: whitesmoke;
}

.mat-mdc-tab-group {
  max-width: 100%;
}

