.mat-elevation-z8 {
  max-width: 80vw;
}

.mat-column-position {
  width: 5%;
  text-align: center;
}

.mat-column-team {
  padding-left: 25px;
}

.team-logo {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.team-name {
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.03rem;
  color: black;
}

.mat-column-wins, .mat-column-loses, .mat-column-winratio, .mat-column-home, .mat-column-away, .mat-column-last10 {
  text-align: center;
}

tr:hover {
  background: whitesmoke;
}
