.mat-toolbar {
  position: fixed;
  z-index: 100;
  padding: 0 2rem;
  transition: ease-in-out .2s;
  background-color: #202020;
}

.active {
  background-color: transparent;
  backdrop-filter: blur(8px);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.header-brand {
  display: flex;
  justify-content: flex-start;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  &-img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }
}

.header-text {
  font: {
    family: "Montserrat Subrayada", sans-serif;
    size: 1.3rem;
  }
  margin-left: 5px;
  color: white;
}

.nav-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
  list-style: none;
  transform: translate(-50%, -50%);
}

.nav-item {
  padding: 0 15px;

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    text-decoration: none;
    color: white;

    &:hover {
      color: #FF9100;
    }
  }
}

.leagues-link {
  padding-right: 0;
}

.leagues-links {
  text-decoration: none;
  color: white;
}

.header-auth {
  display: flex;
  align-items: center;
}

.auth-button {
  font-size: 15px;
  font-weight: bold;
  width: 90px;
  letter-spacing: -.02rem;
  border-radius: 20px;
}

.auth-button:hover {
  transition: ease-in-out .2s;
  transform: scale(1.1);
}

.auth-email {
  cursor: pointer;
  transition: ease-in-out .1s;
  text-align: center;
  color: white;

  &:hover {
    transform: scale(1.05);
  }
}

.auth-logout {
  display: flex;
  align-items: center;
  justify-content: center;

  .auth-button {
    margin-left: 20px;
  }
}

.header-actions {
  display: flex;
  justify-content: space-between;
}

.side-icon {
  position: fixed;
  transform: scale(2);
}

.mat-drawer {
  position: fixed;
  width: 300px;
  background-color: #303030;
}

.mat-drawer-container {
  z-index: 200;
}

.header-menu {
  transition: transform 0.2s ease-in-out;
}

.header-menu.open {
  transform: translateX(calc(-270px));
}

.header-button {
  display: flex;
  justify-content: flex-end;
}

.sidenav-header-auth {
  padding: 15px 20px 0;
}

.sidenav-auth-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.sidenav-nav-menu {
  font-size: 1.5rem;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.sidenav-nav-item {
  padding: 20px 0;
}

.sidenav-auth-logout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

//Media Queries

@media screen and (max-width: 1500px) {
  .nav-menu {
    position: static;
    transform: none;
  }
}
