<mat-toolbar [ngClass]="{'active': isScrolled}">
  <header class="header">
    <a class="header-brand" href="home">
      <img alt="SlamDunk Logo" class="header-logo" src="../../../../assets/img/logo.png"/>
      <div class="header-text">SlamDunk</div>
    </a>
    <ul class="nav-menu">
      <li *ngFor="let link of navLinks; let i = index" class="nav-item">
        <ng-container *ngIf="i !== 2; else leaguesMenu">
          <a class="nav-item-link" href="{{ link | lowercase }}"><span>{{ link }}</span></a>
        </ng-container>
        <ng-template #leaguesMenu>
          <a [matMenuTriggerFor]="leagues" class="nav-item-link leagues-link"
          >{{ link }}
            <mat-icon>arrow_drop_down</mat-icon>
          </a>
        </ng-template>
      </li>
      <mat-menu #leagues="matMenu">
        <ng-template matMenuContent>
          <div *ngFor="let link of leagueLinks">
            <button mat-menu-item>
              <a class="leagues-links" href="{{ link | lowercase }}">{{ link }}</a>
            </button>
          </div>
        </ng-template>
      </mat-menu>
    </ul>
    <div class="header-auth">
      <div *ngIf="!(authService.afAuth.authState | async)">
        <button
          (click)="authService.goToLoginPage()"
          class="auth-button"
          color="primary"
          mat-button
        >
          Sign up
        </button>
        <button
          (click)="authService.goToLoginPage()"
          class="auth-button"
          color="primary"
          mat-raised-button
        >
          Log in
        </button>
      </div>
      <div *ngIf="authService.afAuth.authState | async as user" class="auth-logout">
        <p (click)="authService.goToLoginPage()" class="auth-email">{{ user.email }}</p>
        <button (click)="authService.afAuth.signOut()" class="auth-button" color="primary" mat-raised-button>Logout
        </button>
      </div>
    </div>
  </header>
</mat-toolbar>
