<mat-toolbar>
  <header class="header">
    <a class="header-brand" href="home">
      <img alt="SlamDunk Logo" class="header-logo" src="../../../../assets/img/logo.png"/>
      <div class="header-text">SlamDunk</div>
    </a>
    <nav class="navbar">
      <div *ngFor="let link of navLinks | slice:0: -1">
        <a href="{{ link | lowercase }}">{{ link }}</a>
      </div>
      <a [matMenuTriggerFor]="more" class="navbar-more"
      >{{ navLinks[navLinks.length - 1] }}
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <mat-menu #more="matMenu" class="more-links">
        <ng-template matMenuContent>
          <button [matMenuTriggerFor]="league" mat-menu-item>
            <a href="leagues">{{ moreLinks[0] }}</a>
          </button>
          <mat-menu #league="matMenu">
            <ng-template matMenuContent>
              <div *ngFor="let link of leagueLinks">
                <button mat-menu-item>
                  <a class="some-class" href="{{ link | lowercase }}">{{ link }}</a>
                </button>
              </div>
            </ng-template>
          </mat-menu>
          <div *ngFor="let link of moreLinks | slice:1">
            <button mat-menu-item>
              <a class="some-class" href="{{ link | lowercase }}">{{ link }}</a>
            </button>
          </div>
        </ng-template>
      </mat-menu>
    </nav>
    <div class="header-auth">
      <button
        (click)="goToRegisterPage()"
        class="auth-button"
        color="primary"
        mat-button
      >
        Sign up
      </button>
      <button
        (click)="goToLoginPage()"
        class="auth-button"
        color="primary"
        mat-raised-button
      >
        Log in
      </button>
    </div>
  </header>
</mat-toolbar>
