<mat-toolbar [ngClass]="{'active': isScrolled}">
  <header class="header">
    <a class="header-brand" href="home">
      <img alt="SlamDunk Logo" class="header-logo" src="../../../../assets/img/logo.png"/>
      <div class="header-text">SlamDunk</div>
    </a>
    <nav class="navbar">
      <div *ngFor="let link of navLinks | slice:0: -1">
        <button (click)="scrollToSection(link)" class="navbar-links">{{ link }}</button>
      </div>
      <a [matMenuTriggerFor]="more" class="navbar-links"
      >{{ navLinks[navLinks.length - 1] }}
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <mat-menu #more="matMenu">
        <ng-template matMenuContent>
          <button [matMenuTriggerFor]="league" mat-menu-item>
            <a class="more-links" href="leagues">{{ moreLinks[0] }}</a>
          </button>
          <mat-menu #league="matMenu">
            <ng-template matMenuContent>
              <div *ngFor="let link of leagueLinks">
                <button mat-menu-item>
                  <a class="more-links" href="{{ link | lowercase }}">{{ link }}</a>
                </button>
              </div>
            </ng-template>
          </mat-menu>
          <div *ngFor="let link of moreLinks | slice:1">
            <button mat-menu-item>
              <a class="more-links" href="{{ link | lowercase }}">{{ link }}</a>
            </button>
          </div>
        </ng-template>
      </mat-menu>
    </nav>
    <div class="header-auth">
      <div *ngIf="!(authService.afAuth.authState | async)">
        <button
          (click)="authService.goToLoginPage()"
          class="auth-button"
          color="primary"
          mat-button
        >
          Sign up
        </button>
        <button
          (click)="authService.goToLoginPage()"
          class="auth-button"
          color="primary"
          mat-raised-button
        >
          Log in
        </button>
      </div>
      <div *ngIf="authService.afAuth.authState | async as user" class="auth-logout">
        <p (click)="authService.goToLoginPage()" class="auth-email">{{ user.email }}</p>
        <button (click)="authService.afAuth.signOut()" class="auth-button" color="primary" mat-raised-button>Logout
        </button>
      </div>
    </div>
  </header>
</mat-toolbar>
