@import "../../../../sass/mixins";

.events-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, orangered 50%, #FF2828);
}

.primary-heading {
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.events-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
}

.events-grid {
  width: 100%;
}

.read-more {
  @include more-button;
  background-color: #E4D5B7 !important;
}

.events-link {
  margin-top: 35px;
}

.custom-shape-divider-top-1701126056 {
  line-height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.custom-shape-divider-top-1701126056 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-top-1701126056 .shape-fill {
  fill: #151515;
}

.custom-shape-divider-bottom-1701358682 {
  line-height: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701358682 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1701358682 .shape-fill {
  fill: #202020;
}
