@import "../../../sass/variables";

.stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

.stats-content {
  width: 80vw;
}

.stats-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-heading {
  font-size: 2.5rem;
}
