<app-header></app-header>
<div class="stats-container">
  <div class="stats-content">
    <div class="stats-header">
      <h1 class="primary-heading">{{'Standings - ' + selectedLeague | uppercase}}</h1>
      <mat-form-field>
        <mat-label>Select a league</mat-label>
        <mat-select [(value)]="selectedLeague">
          <mat-option value="euroleague">EuroLeague</mat-option>
          <mat-option value="eurocup">EuroCup</mat-option>
          <mat-option value="bcl">BCL</mat-option>
          <mat-option value="acb">ACB</mat-option>
          <mat-option value="bsl">BSL</mat-option>
          <mat-option value="lega basket a">Lega Basket A</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="stats-cards">
      <div class="stats-players">
        <h1>Players - totals</h1>
        <div class="stats-grid">
          <app-stats-tab [dataSource]="playersPoints" [heading]="'Points'"></app-stats-tab>
          <app-stats-tab [dataSource]="playersRebounds" [heading]="'Rebounds'"></app-stats-tab>
          <app-stats-tab [dataSource]="playersAssists" [heading]="'Assists'"></app-stats-tab>
          <app-stats-tab [dataSource]="playersBlocks" [heading]="'Blocks'"></app-stats-tab>
          <app-stats-tab [dataSource]="playersSteals" [heading]="'Steals'"></app-stats-tab>
          <app-stats-tab [dataSource]="players2P" [heading]="'Two-pointers Made'"></app-stats-tab>
          <app-stats-tab [dataSource]="players3P" [heading]="'Three-pointers Made'"></app-stats-tab>
          <app-stats-tab [dataSource]="playersFT" [heading]="'Free Throws Made'"></app-stats-tab>
        </div>
      </div>
      <div class="stats-teams">
        <h1>Teams - totals</h1>
        <div class="stats-grid">
          <app-stats-tab [dataSource]="teamsSource" [heading]="'Points'"></app-stats-tab>
          <app-stats-tab [dataSource]="teamsSource" [heading]="'Rebounds'"></app-stats-tab>
          <app-stats-tab [dataSource]="teamsSource" [heading]="'Assists'"></app-stats-tab>
          <app-stats-tab [dataSource]="teamsSource" [heading]="'Blocks'"></app-stats-tab>
          <app-stats-tab [dataSource]="teamsSource" [heading]="'Steals'"></app-stats-tab>
          <app-stats-tab [dataSource]="teamsSource" [heading]="'Two-pointers Made'"></app-stats-tab>
          <app-stats-tab [dataSource]="teamsSource" [heading]="'Three-pointers Made'"></app-stats-tab>
          <app-stats-tab [dataSource]="teamsSource" [heading]="'Free Throws Made'"></app-stats-tab>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
