@import "../../../sass/variables";
@import "../../../sass/mixins";

.stats-container {
  @include template-container;
}

.stats-content {
  width: 80vw;
}

.stats-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats-filters {
  display: flex;
}

.primary-heading {
  font-size: 2.5rem;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 40px;
}

.stats-teams {
  margin-top: 100px;
}

//Media Queries

@media screen and (max-width: 900px) {
  .primary-heading {
    font-size: 2rem;
  }
  
  .stats-grid {
    grid-template-columns: repeat(2, 2fr);
  }

  .stats-filters {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .stats-header {
    flex-direction: column;
  }

  .primary-heading {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .stats-grid {
    grid-template-columns: repeat(1, 2fr);
  }
}
