<app-header></app-header>
<div class="stats-container">
  <div class="stats-content">
    <div class="stats-header">
      <h1 class="primary-heading">{{'Stats - ' + selectedLeague | uppercase}}</h1>
      <div class="stats-filters">
        <mat-form-field>
          <mat-label>Select mode</mat-label>
          <mat-select [(value)]="selectedStatistics">
            <mat-option value="Totals">Totals</mat-option>
            <mat-option value="Average">Average</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select a league</mat-label>
          <mat-select [(value)]="selectedLeague">
            <mat-option value="euroleague">EuroLeague</mat-option>
            <mat-option value="eurocup">EuroCup</mat-option>
            <mat-option value="bcl">BCL</mat-option>
            <mat-option value="acb">ACB</mat-option>
            <mat-option value="bsl">BSL</mat-option>
            <mat-option value="lega basket a">Lega Basket A</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="stats-cards">
      <div class="stats-players">
        <h1 class="secondary-heading">{{'Players -' + selectedStatistics}}</h1>
        <div *ngIf="selectedStatistics === 'Totals'" class="stats-grid">
          <app-stats-tab *ngFor="let stat of totalPlayersStats" [heading]="stat.heading"
                         [statsSource]="stat.data[leagueMapping[selectedLeague]]"></app-stats-tab>
        </div>
        <div *ngIf="selectedStatistics === 'Average'" class="stats-grid">
          <app-stats-tab *ngFor="let stat of averagePlayersStats" [heading]="stat.heading"
                         [statsSource]="stat.data[leagueMapping[selectedLeague]]"></app-stats-tab>
        </div>
      </div>
      <div class="stats-teams">
        <h1>{{'Teams -' + selectedStatistics}}</h1>
        <div *ngIf="selectedStatistics === 'Totals'" class="stats-grid">
          <app-stats-tab *ngFor="let stat of totalTeamsStats" [heading]="stat.heading"
                         [statsSource]="stat.data[leagueMapping[selectedLeague]]"></app-stats-tab>

        </div>
        <div *ngIf="selectedStatistics === 'Average'" class="stats-grid">
          <app-stats-tab *ngFor="let stat of averageTeamsStats" [heading]="stat.heading"
                         [statsSource]="stat.data[leagueMapping[selectedLeague]]"></app-stats-tab>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
