@use "@angular/material" as mat;

$slamdunk-primary: mat.define-palette(mat.$orange-palette, A400);
$slamdunk-accent: mat.define-palette(mat.$blue-palette, A100);
$slamdunk-warn: mat.define-palette(mat.$red-palette);
$slamdunk-success: mat.define-palette(mat.$green-palette);

$slamdunk-theme: mat.define-light-theme(
    (
      color: (
        primary: $slamdunk-primary,
        accent: $slamdunk-accent,
        warn: $slamdunk-warn,
      ),
    )
);
