@mixin submit-button {
  min-width: 225px;
  width: 25vw;
  padding: 25px;
  //color: white !important;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 20px;
}

@mixin pseudoelement-line {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 2px;
  width: 50%;
}
