@import "variables";

@mixin template-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 100px 0;
  background-color: $background-color;
}

@mixin submit-button {
  min-width: 250px;
  width: 25vw;
  height: 52px;
  padding: 25px;
  color: white !important;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  transition: transform ease-in-out 0.2s;

  &:active {
    transform: scale(1.05);
  }
}

@mixin pseudoelement-line {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 2px;
  width: 50%;
}

@mixin more-button {
  font: {
    family: "Be Vietnam Pro", sans-serif;
    size: 1rem;
  }
  width: 200px;
  height: 52px;
  border-radius: 25px;
  transition: ease-in-out .2s;

  &:hover {
    transform: scale(1.05);
  }
}
