@use "@angular/material" as mat;
@use "./material" as mat-config;

@include mat.core();
@include mat.all-component-themes(mat-config.$slamdunk-theme);

@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700;900&family=Montserrat+Subrayada:wght@400;700&display=swap");


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.login-form-field, .register-form-field {
  @include mat.form-field-density(-1);
}

.mat-mdc-menu-panel {
  --mat-menu-container-color: #333333;
  --mat-menu-item-icon-color: white;
}

.mdc-text-field--filled {
  --mdc-filled-text-field-focus-active-indicator-height: 4px !important;
}

#cdk-overlay-0 {
  padding-top: 20px;
}

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
  width: 40vw !important;
}

.news-card-link {
  text-decoration: none;
}

