@import "../../../../sass/mixins";

.latest-content {
  display: flex;
  max-width: 80vw;
}

.latest-link {
  cursor: pointer;
}

.latest-img {
  width: 50vw;
  border-radius: 5px;
  object-fit: cover;
}

.latest-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
}

.latest-header {
  font-size: 2.3rem;
  font-weight: 800;
  margin: 0;
}

.latest-date {
  margin: 0;
  opacity: 0.8;
}

.latest-paragraph {
  font-size: 1.2rem;
}

.read-more {
  display: flex;
  justify-content: flex-end;
}

.load-more {
  @include more-button;
  width: 150px;
  height: 40px;
  vertical-align: top;
}

//Media Queries

@media screen and (min-width: 901px) {
  .latest-paragraph {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 900px) {
  .latest-paragraph {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
  .latest-header {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .latest-img {
    display: none;
  }
}
