<mat-grid-list [gutterSize]="'10px'" cols="2" rowHeight="250px">
  <mat-grid-tile [rowspan]="2" [style.background-image]="'url('+tileMainPage[0].background+')'"><span
    class="tile-description">{{tileMainPage[0].name}}</span>
  </mat-grid-tile>
  <mat-grid-tile [style.background-image]="'url('+tileMainPage[1].background+')'"><span
    class="tile-description">{{tileMainPage[1].name}}</span></mat-grid-tile>
  <mat-grid-tile [style.background-image]="'url('+tileMainPage[2].background+')'"><span
    class="tile-description">{{tileMainPage[2].name}}</span></mat-grid-tile>
</mat-grid-list>
