mat-grid-tile {
  cursor: pointer;
  background-image: url("/assets/img/events.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tile-description {
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px black;
}

