.news-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  background-color: #252525;
}

app-news-latest {
  padding: 50px 0;
}

app-news-feed {
  padding: 50px 0;
}
