@import "../../../../sass/variables";

.news-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: black;
  background-color: $background-color;
}

app-news-feed {
  padding: 50px 0;
}

