.mat-toolbar {
  background-color: transparent;
  position: fixed;
  z-index: 100;
  //backdrop-filter: blur(8px);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: white;
}

.logo-link {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-family: 'Rock Salt', cursive;
}

.links {
  display: flex;
  align-items: center;
}

.menu {
  display: inline-flex;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin: 10px;
}

.auth-button {
  border-radius: 20px;
}
