<app-header></app-header>
<div class="schedule-container">
  <div class="schedule-content">
    <div class="schedule-header">
      <h1 class="primary-heading">{{'Schedule - ' + selectedLeague | uppercase}}</h1>
      <mat-form-field>
        <mat-label>Select a league</mat-label>
        <mat-select [(value)]="selectedLeague">
          <mat-option value="euroleague">EuroLeague</mat-option>
          <mat-option value="eurocup">EuroCup</mat-option>
          <mat-option value="bcl">BCL</mat-option>
          <mat-option value="acb">ACB</mat-option>
          <mat-option value="bsl">BSL</mat-option>
          <mat-option value="lega basket a">Lega Basket A</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="schedule-tab">
      <div class="schedule-cards">
        <div *ngFor="let league of Object.keys(matchData)">
          <div *ngIf="selectedLeague === league">
            <ng-container
              *ngFor="let date of Object.keys(matchData[league]) | slice:0:Object.keys(matchData[league]).length-1">
              <h2>{{ date }}</h2>
              <app-schedule-card *ngFor="let match of matchData[league][date]"
                                 [scheduleSource]="match"></app-schedule-card>
            </ng-container>
            <ng-container *ngIf="showLastMatch">
              <h2>{{ Object.keys(matchData[league])[Object.keys(matchData[league]).length - 1] }}</h2>
              <app-schedule-card
                *ngFor="let match of matchData[league][Object.keys(matchData[league])[Object.keys(matchData[league]).length - 1]]"
                [scheduleSource]="match"></app-schedule-card>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="schedule-more">
      <button (click)="loadMore()" class="load-more" color="primary" mat-raised-button>Load more</button>
      <p>{{errorMessage}}</p>
    </div>
  </div>
</div>
<app-shape-divider/>
<app-footer></app-footer>
