@import "../../../sass/mixins";
@import "../../../sass/variables";

.login-form {
  display: flex;
  flex-direction: column;

  &-field {
    width: 25vw;
    min-width: 250px;
  }
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 10px;
}

.mat-mdc-form-field-hint {
  font-weight: 500;
  margin-top: 5px;
  cursor: pointer;
  transition: color ease-in-out .2s;
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgba(255, 255, 255, 0.3);;
  }
}

.errorMessage {
  width: 25vw;
  min-width: 250px;
  margin-top: 10px;
  text-align: center;
}

.login-buttons {
  display: flex;
  flex-direction: column;

}

.btn {
  @include submit-button;

  &-submit {
    @extend .btn;
    margin-top: 20px;
  }

  &-secondary {
    @extend .btn;
    color: $secondary-color !important;
  }

  &-google {
    @extend .btn;
    margin-top: 15px;
    color: black !important;
    background-color: white !important;
  }
}

.google {
  &-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

  }

  &-logo {
    width: 30px;
    margin-right: 20px;
  }
}

.divider {
  display: flex;
  align-items: center;
  width: 25vw;
  min-width: 250px;
  color: white;
}

.divider::before {
  @include pseudoelement-line;
  margin-right: 10px;
}

.divider::after {
  @include pseudoelement-line;
  margin-left: 10px;
}
