@import "../../../sass/variables";

.players-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 150px 0;
  background-color: $background-color;
}

.players-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
}

.players-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.primary-heading {
  font-size: 2.5rem;
}

.players-filters {
  display: flex;
}

mat-icon {
  cursor: pointer;
}
