.standings-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(to right, #202020 0%, #0A0A0A 100%);*/
  background-color: #151515;
}

.primary-heading {
  font-size: 2.5rem;
  color: white;
}

mat-tab-group {
  width: 80%;
}

.mat-elevation-z8 {
  background-color: #303030;
}

.mat-mdc-header-row, .mat-mdc-row {
  color: white;
}

.mat-column-position {
  width: 5%;
  text-align: center;
}

.mat-column-team {
  padding-left: 25px;
}

.team-cell {
}

.team-logo {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.mat-column-wins, .mat-column-loses, .mat-column-winratio, .mat-column-home, .mat-column-away, .mat-column-last10 {
  text-align: center;
}
