<mat-card class="events-card">
  <mat-card-header>
    <div class="card-title">
      <mat-card-title>The Meteoric Rise of Basketball in Europe</mat-card-title>
      <p class="card-date">1 month ago</p>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p class="card-description">The global landscape of sports is ever-evolving. Over the years, one sport in particular
      has witnessed an
      unparalleled rise in popularity in Europe - basketball. While football (or soccer) continues to hold the torch as
      the continent's favorite pastime, basketball is fast breaking its way to the forefront of European sports culture.
      But what exactly catalyzed this rapid gro..</p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
