:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("/assets/img/background3.jpg");
  background-repeat: no-repeat;
}

.register-form {
  display: flex;
  flex-direction: column;

  &-field {
    min-width: 225px;
    width: 25vw;
  }
}

.mat-mdc-form-field-hint {
  cursor: pointer;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.register-btn {
  min-width: 225px;
  width: 25vw;
  margin-top: 20px;
  padding: 25px;
  color: white !important;
  font-size: 1.2rem;
  font-weight: bold;
}

hr {
  width: 100%;
  margin: 20px 0;
  opacity: 0.5;
}
