<mat-toolbar>
  <nav class="navbar">
    <a class="navbar-brand" href="home">
      <img alt="SlamDunk Logo" class="navbar-logo" src="../../../../assets/img/logo.png"/>
      <div class="navbar-text">SlamDunk</div>
    </a>
    <div class="navbar-menu">
      <div *ngFor="let link of navLinks">
        <a href="{{ link | lowercase }}">{{ link }}</a>
      </div>
      <a [matMenuTriggerFor]="more" class="navbar-more"
      >More
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <mat-menu #more="matMenu">
        <button [matMenuTriggerFor]="leagues" mat-menu-item>Leagues</button>
        <button mat-menu-item>Players</button>
        <button mat-menu-item>Calendar</button>
        <button mat-menu-item>Standings</button>
        <button mat-menu-item>Contact</button>
      </mat-menu>
      <mat-menu #leagues="matMenu">
        <button mat-menu-item>EuroLeague</button>
        <button mat-menu-item>EuroCup</button>
        <button mat-menu-item>BCL</button>
        <button mat-menu-item>ACB</button>
        <button mat-menu-item>BSL</button>
        <button mat-menu-item>Lega Basket A</button>
      </mat-menu>
    </div>
    <div class="navbar-auth">
      <button
        (click)="goToRegisterPage()"
        class="auth-button"
        color="primary"
        mat-button
      >
        Sign up
      </button>
      <button
        (click)="goToLoginPage()"
        class="auth-button"
        color="primary"
        mat-raised-button
      >
        Log in
      </button>
    </div>
  </nav>
</mat-toolbar>
