@import "../../../../sass/mixins";
@import "../../../../sass/variables";


.news-url-container {
  @include template-container;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 0;
}

.news-url-card {
  font-size: 1.2rem;
  width: 70vw;
  padding: 30px;
  color: black;
  border-radius: 10px;
}

.mat-mdc-card-header {
  padding-bottom: 16px;
}

:host ::ng-deep .mat-mdc-card-header-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.news-url-title {
  font: {
    size: 2.3rem;
    weight: 800;
  };
  margin: 0;
}

.news-url-date {
  opacity: 0.8;
}

.news-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  object-fit: contain;

  &-url {
    max-width: 100%
  }

  &-subtitle {
    margin-top: 5px;
    opacity: 0.8;
  }
}

.latest-paragraph {
  line-height: 26px;
}

.read-more {
  @include more-button;
  margin: 50px 0;
}

//Media Queries

@media screen and (max-width: 900px) {
  .news-url-card {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .news-url-title, h2 {
    font-size: 1.5rem;
  }

  :host ::ng-deep .mat-mdc-card-header-text {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .news-url-card {
    width: 100vw;
  }
}
