<ng-container>
  <div class="container">
    <form class="login-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="login-form-field">
        <mat-label>Enter your login</mat-label>
        <input matInput [formControl]="authForm.controls.login" />
      </mat-form-field>
      <mat-form-field class="login-form-field">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="isPasswordHidden ? 'password' : 'text'" [formControl]="authForm.controls.password" />
        <button
          mat-icon-button
          matSuffix
          (click)="isPasswordHidden = !isPasswordHidden"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="isPasswordHidden"
        >
          <mat-icon>{{
            isPasswordHidden ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-hint align="start">Forgot password?</mat-hint>
      </mat-form-field>
      <!-- <mat-error class="errorMessage" *ngIf="authForm.invalid">{{ getErrorMessage() }}</mat-error> -->
      <button mat-raised-button color="primary" class="login-btn" type="submit">
        Log In
      </button>
      <hr />
      <button
        mat-raised-button
        color="accent"
        class="register-btn"
        type="button"
        (click)="goToRegisterPage()"
      >
        Create new account
      </button>
    </form>
  </div>
</ng-container>
