<app-header></app-header>
<div class="teams-container">
  <div class="teams-content">
    <div class="teams-header">
      <h1 class="primary-heading">{{'Teams - ' + selectedLeague | uppercase}}</h1>
      <mat-form-field>
        <mat-label>Select a league</mat-label>
        <mat-select [(value)]="selectedLeague">
          <mat-option value="euroleague">EuroLeague</mat-option>
          <mat-option value="eurocup">EuroCup</mat-option>
          <mat-option value="bcl">BCL</mat-option>
          <mat-option value="acb">ACB</mat-option>
          <mat-option value="bsl">BSL</mat-option>
          <mat-option value="lega basket a">Lega Basket A</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="teams-tab">
      <ng-container *ngIf="getTeamsArray(selectedLeague) as teamsArray">
        <app-teams-card *ngFor="let team of teamsArray" [teamsSource]="team"/>
      </ng-container>
    </div>
  </div>
</div>
<app-footer></app-footer>
