@import "../../../sass/variables";
@import "../../../sass/mixins";

.teams-container {
  @include template-container;
}

.teams-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-heading {
  font-size: 2.5rem;
}

.teams-tab {
  display: grid;
  width: 80vw;
  grid-template-columns: repeat(6, 2fr);
  gap: 60px;
}
