@import "../../../sass/variables";
@import "../../../sass/mixins";

.teams-container {
  @include template-container;
}

.teams-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-heading {
  font-size: 2.5rem;
}

.teams-tab {
  display: grid;
  width: 80vw;
  grid-template-columns: repeat(5, 2fr);
  gap: 40px;
}

app-teams-card {
  display: flex;
  justify-content: center;
}

//Media Queries

@media screen and (max-width: 1300px) {
  .teams-tab {
    grid-template-columns: repeat(4, 2fr);
  }
}

@media screen and (max-width: 992px) {
  .teams-tab {
    width: 100vw;
    grid-template-columns: repeat(3, 2fr);
  }

  .primary-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .teams-header {
    flex-direction: column;
  }

  .primary-heading {
    text-align: center;
  }

  .teams-tab {
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
  }
}
