@import "src/sass/_variables.scss";

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #151515;
  scroll-behavior: smooth;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  min-width: 400px;
}

.footer-link {
  cursor: pointer;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  color: white;

  &:hover {
    color: $primary-color;
  }
}

.mat-divider {
  margin-left: 0 !important;
  border-right-color: white !important;
}

.footer-paragraph {
  font-size: 0.8rem;
  margin: 0;
  color: white;
}
