@import "../../../../sass/mixins";

.news-filter {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.news-cards {
  display: flex;
  flex-direction: column;
}

app-news-card {
  color: black;
}

.cards-first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.cards-second-row {
  display: flex;
}

.news-more {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.load-more {
  @include more-button;
}
