@import "../../../../sass/mixins";

.news-filter {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.news-cards {
  display: flex;
  flex-direction: column;
}

app-news-card {
  color: black;
}

.cards-row {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 60px;
}

.news-more {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.load-more {
  @include more-button;
}
