<mat-card class="news-card">
  <mat-card-header>
    <div class="news-header-image" mat-card-avatar></div>
    <mat-card-title>Filip Petrusev returns to Europe for Olympiacos</mat-card-title>
  </mat-card-header>
  <img alt="News" mat-card-image
       src="https://images.eurohoops.net/2023/08/6079227a-filip-petrusev-reacts-serbia-world-cup-quarterfinals-fiba.jpg">
  <mat-card-content>
    <p>
      Philip Petrusev should be already considered an Olympiacos player, with the official announcement expected from
      the club in the next few hours
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE
    </button>
  </mat-card-actions>
</mat-card>
