.mat-mdc-card {
  margin: 30px 0;
}

.mdc-card {
  border-radius: 10px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
  height: 75px;
}

.card-date {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 15px;
}

.card-opponents {
  display: flex;
  align-items: center;
}

.card-team1, .card-team2 {
  display: flex;
  cursor: pointer;
}

.card-team1 {
  justify-content: end;
}

.card-team2 {
  justify-content: start;
}

.card-img {
  display: flex;
  justify-content: center;
  width: 10%;
  margin: 0 15px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.card-place {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 15px;
}

