.mat-mdc-card {
  margin: 30px 0;
}

.mdc-card {
  border-radius: 10px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 75px;
}

.card-date {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 15px;
}

.card-opponents {
  display: flex;
  align-items: center;
}

.card-team1, .card-team2 {
  display: flex;
  width: 25vw;
}

.card-team1 {
  align-items: center;
  justify-content: end;
  text-align: end;
}

.card-team2 {
  align-items: center;
  justify-content: start;
  text-align: start;
}

.card-img {
  margin: 0 15px;
  cursor: pointer;
  object-fit: contain;
}

.team-name {
  cursor: pointer;
}

.card-stadium {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 15px;
  text-align: end;
}

//Media Queries

@media screen and (max-width: 992px) {
  .team-name {
    font-size: 1rem;
  }

  .card-stadium {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .team-name {
    font-size: 0.9rem;
  }

  .card-date {
    margin-left: 5px;
  }

  .card-img {
    margin: 0 5px;
  }

  .card-stadium {
    font-size: 0.8rem;
    margin-right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .team-name {
    font-size: 0.7rem;
  }

  .card-date {
    font-size: 0.8rem;
  }

  .card-stadium {
    font-size: 0.7rem;
  }
}
