.mdc-card {
  border-radius: 10px;
}

.mat-mdc-card-title {
  font-weight: 700;
  text-align: center;
}

.teams-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  transition: transform 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.teams-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

