.mat-elevation-z8 {
  overflow: hidden !important;
  width: 400px;
  border-radius: 10px;
}

.mat-mdc-header-cell {
  font: {
    weight: bold;
    size: 1.3rem;
  }
}

.mat-column-position {
  width: 1%;
  padding-right: 0;
}

.mat-column-name {
  padding-left: 4px;
}


.stats-name {
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.03rem;
  color: black;
}


tr:hover {
  background: whitesmoke;
}
