<app-header/>
<div class="events-container">
  <div class="events-content">
    <div class="events-header">
      <h1 class="primary-heading">{{'Events - ' + selectedYear | uppercase}}</h1>
      <mat-form-field>
        <mat-label>Select year</mat-label>
        <mat-select [(value)]="selectedYear">
          <mat-option value="2024">2024</mat-option>
          <mat-option value="2025">2025</mat-option>
          <mat-option value="2026">2026</mat-option>
          <mat-option value="2027">2027</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="events-tab">
      <ng-container *ngFor="let month of months">
        <ng-container *ngIf="getEventsYear(selectedYear)[month]">
          <div class="events-cards">
            <h2>{{month}}</h2>
            <app-events-card *ngFor="let event of getEventsYear(selectedYear)[month]"
                             [eventSource]="event"></app-events-card>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<app-shape-divider/>
<app-footer/>
