.standings-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90%;
  /*background-image: linear-gradient(to right, #202020 0%, #0A0A0A 100%);*/
  background-color: #151515;
}

.primary-heading {
  font-size: 2.5rem;
  color: white;
}

::ng-deep app-standings-tab .mat-elevation-z8 {
  background-color: #303030;
}

::ng-deep app-standings-tab .mat-mdc-header-row {
  color: white;
}

::ng-deep app-standings-tab .mat-mdc-row {
  color: white;
}
