<div class="standings-container">
  <h1 class="primary-heading">{{'Top 10 Standings' | uppercase}}</h1>
  <mat-tab-group animationDuration="500ms">
    <mat-tab label="EuroLeague">
      <app-standings-tab [standingsSource]="standingsEuroLeague.slice(0,10)"></app-standings-tab>
    </mat-tab>
    <mat-tab label="EuroCap">
      <mat-tab-group animationDuration="500ms">
        <mat-tab label="Group A">
          <app-standings-tab [standingsSource]="standingsEuroCupA.slice(0,10)"></app-standings-tab>
        </mat-tab>
        <mat-tab label="Group B">
          <app-standings-tab [standingsSource]="standingsEuroCupB.slice(0,10)"></app-standings-tab>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
