@import "../../sass/styles.scss";

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/background.png");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.text {
  color: white;
  max-width: 25%;
  padding-left: 50%;
}

.primary-heading {
  font-size: 5rem;
  position: relative;
  z-index: 0;
  margin: 0;
}

span::before {
  content: "";
  background: #ff9100;
  height: 0.25em;
  position: absolute;
  bottom: 0.15em;
  z-index: -1;
  width: 5em;
}

.description {
  font-size: 1.5rem;
}
