.news-url-card {
  max-width: 80vw;
  padding: 30px;
  color: white;
  background: #353535;
}

.news-url-header-image {
  background-image: url("https://w7.pngwing.com/pngs/687/150/png-transparent-baloncesto-malaga-2017-18-euroleague-eurocup-basketball-2018-19-euroleague-bc-Žalgiris-basketball-text-sport-orange-thumbnail.png");
  background-size: cover;
}

.news-url-img {
  border-radius: 5px;
}
