<app-header></app-header>
<div class="standings-container">
  <div class="standings-content">
    <div class="standings-header">
      <h1 class="primary-heading">{{'Standings - ' + selectedLeague | uppercase}}</h1>
      <mat-form-field>
        <mat-label>Select a league</mat-label>
        <mat-select [(value)]="selectedLeague">
          <mat-option value="euroleague">EuroLeague</mat-option>
          <mat-option value="eurocup">EuroCup</mat-option>
          <mat-option value="bcl">BCL</mat-option>
          <mat-option value="acb">ACB</mat-option>
          <mat-option value="bsl">BSL</mat-option>
          <mat-option value="lega basket a">Lega Basket A</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="standings-tab">
      <app-standings-tab *ngIf="selectedLeague === 'euroleague'"
                         [standingsSource]="standingsEuroLeague"></app-standings-tab>
      <app-standings-tab *ngIf="selectedLeague === 'acb'" [standingsSource]="standingsACB"></app-standings-tab>
      <app-standings-tab *ngIf="selectedLeague === 'bsl'" [standingsSource]="standingsBSL"></app-standings-tab>
      <app-standings-tab *ngIf="selectedLeague === 'lega basket a'"
                         [standingsSource]="standingsLegaBasketA"></app-standings-tab>
      <mat-tab-group animationDuration="500ms">
        <mat-tab *ngIf="selectedLeague === 'eurocup'" label="Group A">
          <app-standings-tab [standingsSource]="standingsEuroCupA"></app-standings-tab>
        </mat-tab>
        <mat-tab *ngIf="selectedLeague === 'eurocup'" label="Group B">
          <app-standings-tab [standingsSource]="standingsEuroCupB"></app-standings-tab>
        </mat-tab>
      </mat-tab-group>
      <mat-tab-group animationDuration="500ms">
        <mat-tab *ngIf="selectedLeague === 'bcl'" label="Group A">
          <app-standings-tab-bcl [standingsSource]="standingsBCLA"></app-standings-tab-bcl>
        </mat-tab>
        <mat-tab *ngIf="selectedLeague === 'bcl'" label="Group B">
          <app-standings-tab-bcl [standingsSource]="standingsBCLB"></app-standings-tab-bcl>
        </mat-tab>
        <mat-tab *ngIf="selectedLeague === 'bcl'" label="Group C">
          <app-standings-tab-bcl [standingsSource]="standingsBCLC"></app-standings-tab-bcl>
        </mat-tab>
        <mat-tab *ngIf="selectedLeague === 'bcl'" label="Group D">
          <app-standings-tab-bcl [standingsSource]="standingsBCLD"></app-standings-tab-bcl>
        </mat-tab>
        <mat-tab *ngIf="selectedLeague === 'bcl'" label="Group E">
          <app-standings-tab-bcl [standingsSource]="standingsBCLE"></app-standings-tab-bcl>
        </mat-tab>
        <mat-tab *ngIf="selectedLeague === 'bcl'" label="Group F">
          <app-standings-tab-bcl [standingsSource]="standingsBCLF"></app-standings-tab-bcl>
        </mat-tab>
        <mat-tab *ngIf="selectedLeague === 'bcl'" label="Group G">
          <app-standings-tab-bcl [standingsSource]="standingsBCLG"></app-standings-tab-bcl>
        </mat-tab>
        <mat-tab *ngIf="selectedLeague === 'bcl'" label="Group H">
          <app-standings-tab-bcl [standingsSource]="standingsBCLH"></app-standings-tab-bcl>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<app-footer></app-footer>
