@import "../../../../sass/mixins";

.standings-container {
  @include template-container;
}

.standings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-heading {
  font-size: 2.5rem;
}

//Media Queries

@media screen and (max-width: 992px) {
  .primary-heading {
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .standings-content {
    width: 100vw;
  }

  .standings-header {
    flex-direction: column;
  }

  .primary-heading {

  }
}
