<app-header></app-header>
<div class="standings-container">
  <div class="standings-content">
    <div class="standings-team">
      <h1 class="primary-heading">{{selected | uppercase}}</h1>
      <mat-form-field>
        <mat-label>Select a league</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="euroleague">EuroLeague</mat-option>
          <mat-option value="eurocup">EuroCup</mat-option>
          <mat-option value="bcl">BCL</mat-option>
          <mat-option value="acb">ACB</mat-option>
          <mat-option value="bsl">BSL</mat-option>
          <mat-option value="lega basket a">Lega Basket A</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="standings-tab">
      <mat-tab-group animationDuration="500ms">
        <mat-tab label="Standings">
          <app-standings-tab [dataSource]="dataSource"></app-standings-tab>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<app-footer></app-footer>
