<app-header></app-header>
<div class="standings-container">
  <div class="standings-content">
    <div class="standings-header">
      <h1 class="primary-heading">{{selectedLeague | uppercase}}</h1>
      <mat-form-field>
        <mat-label>Select a league</mat-label>
        <mat-select [(value)]="selectedLeague">
          <mat-option value="euroleague">EuroLeague</mat-option>
          <mat-option value="eurocup">EuroCup</mat-option>
          <mat-option value="bcl">BCL</mat-option>
          <mat-option value="acb">ACB</mat-option>
          <mat-option value="bsl">BSL</mat-option>
          <mat-option value="lega basket a">Lega Basket A</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="standings-tab">
      <mat-tab-group animationDuration="500ms">
        <mat-tab label="Standings">
          <app-standings-tab *ngIf="selectedLeague === 'euroleague'" [dataSource]="dataSource"></app-standings-tab>
          <app-standings-tab *ngIf="selectedLeague === 'eurocup'"
                             [dataSource]="dataSource"></app-standings-tab>
          <app-standings-tab *ngIf="selectedLeague === 'bcl'" [dataSource]="dataSource"></app-standings-tab>
          <app-standings-tab *ngIf="selectedLeague === 'acb'" [dataSource]="dataSource"></app-standings-tab>
          <app-standings-tab *ngIf="selectedLeague === 'bsl'" [dataSource]="dataSource"></app-standings-tab>
          <app-standings-tab *ngIf="selectedLeague === 'lega basket a'"
                             [dataSource]="dataSource.slice(0,10)"></app-standings-tab>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<app-footer></app-footer>
