<mat-card class="news-card">
  <mat-card-header>
    <div [style.background-image]="'url('+cardSource.league+')'" class="news-header-image" mat-card-avatar></div>
    <mat-card-title>{{cardSource.title}}</mat-card-title>
    <mat-card-subtitle>{{cardSource.date}}</mat-card-subtitle>
  </mat-card-header>
  <img alt="News" class="news-image" mat-card-image
       src="{{cardSource.img}}">
  <mat-card-content>
    <p class="news-description">
      {{cardSource.firstDescription}}
    </p>
    <mat-divider></mat-divider>
    <p class="news-type">{{cardSource.type}}</p>
  </mat-card-content>
</mat-card>

