.news-card {
  max-width: 350px;
  cursor: pointer;
}

.news-header-image {
  background-image: url("https://w7.pngwing.com/pngs/687/150/png-transparent-baloncesto-malaga-2017-18-euroleague-eurocup-basketball-2018-19-euroleague-bc-Žalgiris-basketball-text-sport-orange-thumbnail.png");
  background-size: cover;
}

.news-type {
  opacity: 0.6;
}
