<mat-card class="news-card">
  <mat-card-header>
    <div [style.background-image]="'url('+card.league+')'" class="news-header-image" mat-card-avatar></div>
    <mat-card-title>{{card.title}}</mat-card-title>
    <mat-card-subtitle>{{card.date}}</mat-card-subtitle>
  </mat-card-header>
  <img alt="News" class="news-image" mat-card-image
       src="{{card.img}}">
  <mat-card-content>
    <p class="news-description">
      {{card.description}}
    </p>
    <mat-divider></mat-divider>
    <p class="news-type">{{card.type}}</p>
  </mat-card-content>
</mat-card>

