<mat-card class="news-card">
  <mat-card-header>
    <div class="news-header-image" mat-card-avatar></div>
    <mat-card-title>Filip Petrusev returns to Europe</mat-card-title>
    <mat-card-subtitle>30.12.2023</mat-card-subtitle>
  </mat-card-header>
  <img alt="News" mat-card-image
       src="https://images.eurohoops.net/2023/08/6079227a-filip-petrusev-reacts-serbia-world-cup-quarterfinals-fiba.jpg">
  <mat-card-content>
    <p>
      Philip Petrusev should be already considered an Olympiacos player, with the official announcement expected from
      the club in the next few hours
    </p>
    <mat-divider></mat-divider>
    <p class="news-type">Article</p>
  </mat-card-content>
</mat-card>
